# MongoDB Connection String (Atlas or Local)
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/trip-tide?retryWrites=true&w=majority
# Example Local: mongodb://127.0.0.1:27017/trip-tide
MONGODB_URI=mongodb+srv://22pw33_db_user:b0YRGdelax57rE3m@travelblog.agji3xv.mongodb.net/?appName=travelblog

# JWT Secret for Authentication
SECRET=mysecretsshhhhh

# Server Port (optional, defaults to 3001)
PORT=3001

